---
version: 2
interactions:
    - id: 0
      request:
        host: www.joqr.co.jp
        body: ""
        form: {}
        headers: {}
        url: https://www.joqr.co.jp/rss/program/json.php?date=2022-08-02&type=ag
        method: GET
      response:
        body: '[{"schedule_program_id":"514539","broadcast_id":"72","schedule_date":"2022-08-02","program_id":"1908","program_start_time":"5:00","program_end_time":"6:00","program_start_time_hour":"5","program_end_time_hour":"6","program_start_time_minute":"0","program_end_time_minute":"0","program_broadcast_type":{"1":"video"},"program_information":"\u305f\u3060\u3044\u307e\u306e\u6642\u9593\u306f\u653e\u9001\u3092\u304a\u4f11\u307f\u3055\u305b\u3066\u3044\u305f\u3060\u3044\u3066\u304a\u308a\u307e\u3059","program_title":"\u756a\u7d44\u4f11\u6b62\u4e2d","program_thumbnail":"https:\/\/www.joqr.co.jp\/wp\/wp-content\/themes\/joqr\/img\/ag_noimage_artcl.png","program_permalink":"https:\/\/www.joqr.co.jp\/qr\/program\/pause\/","program_radiko_flg":1,"program_personality":""},{"schedule_program_id":"514521","broadcast_id":"72","schedule_date":"2022-08-02","program_id":"1765","program_start_time":"6:00","program_end_time":"7:00","program_start_time_hour":"6","program_end_time_hour":"7","program_start_time_minute":"0","program_end_time_minute":"0","program_broadcast_type":{"1":"video","2":"repeat"},"program_information":"\u4e09\u5ea6\u306e\u98ef\u3088\u308a\u4e8c\u6b21\u5143\u306a\u30aa\u30bf\u30af \u3000\u30a2\u30cb\u30bd\u30f3\u30b7\u30f3\u30ac\u30fc\u4e9c\u54b2\u82b1\u306e60\u5206\u306e\u751f\u653e\u9001\uff01\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9asaka@joqr.net\u3000#\u30b6\u30ad\u30e3\u30c3\u30c1","program_mail":"asaka@joqr.net","program_personality":"<a href=\"https:\/\/www.joqr.co.jp\/qr\/personality\/asaka\/\">\u4e9c\u54b2\u82b1<\/a>","program_sns_twitter_hashtag":"#\u30b6\u30ad\u30e3\u30c3\u30c1","program_title":"A&G ARTIST ZONE \u4e9c\u54b2\u82b1\u306eTHE CATCH","program_thumbnail":"https:\/\/www.joqr.co.jp\/wp\/wp-content\/uploads\/the-catch_595.png","program_permalink":"https:\/\/www.joqr.co.jp\/qr\/program\/thecatch\/","program_ag_url":"https:\/\/www.uniqueradio.jp\/player0.php"},{"schedule_program_id":"514545","broadcast_id":"72","schedule_date":"2022-08-02","program_id":"1999","program_start_time":"7:00","program_end_time":"7:30","program_start_time_hour":"7","program_end_time_hour":"7","program_start_time_minute":"0","program_end_time_minute":"30","program_broadcast_type":{"1":"repeat"},"program_information":"\u5c0f\u539f\u597d\u7f8e\u3055\u3093\u304c\u304a\u4ed5\u4e8b\u306e\u3053\u3068\u3001\u30d7\u30e9\u30a4\u30d9\u30fc\u30c8\u306a\u3053\u3068\u306a\u3069\u69d8\u3005\u306a\u3053\u3068\u306b\u3064\u3044\u3066\u3086\u3063\u304f\u308a\u306e\u3093\u3073\u308a\u3068\u304a\u8a71\u3057\u3057\u3066\u3044\u304f\uff13\uff10\u5206\u3002\u65e5\u66dc\u306e\u591c\u306f\u3001\u5c0f\u539f\u3055\u3093\u306e\u304a\u3057\u3083\u3079\u308a\u3067 &ldquo; \u30b3\u30b3\u30ed\u304a\u304d\u306a\u304f &rdquo; \u304a\u697d\u3057\u307f\u304f\u3060\u3055\u3044\u266a","program_mail":"kokoradi@joqr.net","program_sns_twitter_account":"kokoradi_joqr","program_sns_twitter_hashtag":"#kokoradi","program_title":"\u5c0f\u539f\u597d\u7f8e\u306e\u30b3\u30b3\u30ed\u304a\u304d\u306a\u304f","program_thumbnail":"https:\/\/www.joqr.co.jp\/wp\/wp-content\/uploads\/\u3010\u5c0f\u539f\u597d\u7f8e\u306e\u30b3\u30b3\u30ed\u304a\u304d\u306a\u304f\u3011750\u00d7469.png","program_permalink":"https:\/\/www.joqr.co.jp\/qr\/program\/kokoradi\/","program_ag_url":"https:\/\/www.uniqueradio.jp\/player0.php","program_twitter":"kokoradi_joqr","program_personality":"\u5c0f\u539f\u597d\u7f8e"},{"schedule_program_id":"514556","broadcast_id":"72","schedule_date":"2022-08-02","program_id":"47309","program_start_time":"7:30","program_end_time":"8:00","program_start_time_hour":"7","program_end_time_hour":"8","program_start_time_minute":"30","program_end_time_minute":"0","program_broadcast_type":{"1":"repeat"},"program_information":"\u58f0\u512a\u306e\u524d\u7530\u4f73\u7e54\u91cc\u304c\u3001\u30ea\u30b9\u30ca\u30fc\u3068\u4e[...]
