---
version: 2
interactions:
    - id: 0
      request:
        host: www.onsen.ag
        body: ""
        form: {}
        headers: {}
        url: https://www.onsen.ag/web_api/programs
        method: GET
      response:
        body: '[{"id":97,"directory_name":"kamihime","display":true,"show_contents_count":10,"brand_new":false,"brand_new_sp":false,"title":"民安ともえと青葉りんごと若木萌の神プロRADIO","image":{"url":"https://d3bzklg4lms4gh.cloudfront.net/program_info/image/default/production/de/a7/8354acf23c393b29e3e39a47a23c90c9f705/image?v=1661479552"},"new":true,"list":true,"delivery_interval":"毎週金曜日配信（過去アーカイブ9回）","delivery_day_of_week":[5],"category_list":["radio","game","bonus","premium"],"copyright":"©2016 EXNOA LLC /テクロス","sponsor_name":"FANZA GAMES テクロス","updated":"8/26","performers":[{"id":242,"name":"民安ともえ","allow_like":true},{"id":1450,"name":"青葉りんご","allow_like":true},{"id":1486,"name":"若木萌","allow_like":true}],"related_links":[{"link_url":"http://games.dmm.com/detail/kamipro/","image":"https://d3bzklg4lms4gh.cloudfront.net/related_link/image/default/production/04/15/bf8062f34753c6effb2ca8f514ee820e57bd/image?v=1661479552"}],"related_infos":[],"related_programs":[{"title":"リトルバスターズ!R","directory_name":"litbus","category":"recommend","image":"https://d3bzklg4lms4gh.cloudfront.net/program_info/image/default/production/35/ff/596a23c06acdf4aaec33bb737bb338f046d7/image?v=1658480352","performers":[{"name":"民安ともえ","id":242,"allow_like":true},{"name":"緑川光","id":43,"allow_like":true},{"name":"若林直美","id":44,"allow_like":true}]}],"guest_in_new_content":[],"guests":[],"contents":[{"id":11170,"title":"第154回","latest":false,"media_type":"sound","program_id":97,"new":true,"event":false,"block":false,"ongen_id":11170,"premium":false,"free":true,"delivery_date":"8/26","movie":false,"poster_image_url":"https://d3bzklg4lms4gh.cloudfront.net/program_info/image/default/production/de/a7/8354acf23c393b29e3e39a47a23c90c9f705/image?v=1661479552","streaming_url":"https://onsen-ma3phlsvod.sslcs.cdngc.net/onsen-ma3pvod/_definst_/202208/kamihime220826m9ix-154.mp4/playlist.m3u8","tag_image":{"url":null},"guests":[],"expiring":false},{"id":11171,"title":"第154回 おまけ","latest":false,"media_type":"sound","program_id":97,"new":true,"event":false,"block":false,"ongen_id":11171,"premium":true,"free":false,"delivery_date":"8/26","movie":false,"poster_image_url":"https://d3bzklg4lms4gh.cloudfront.net/program_info/image/default/production/de/a7/8354acf23c393b29e3e39a47a23c90c9f705/image?v=1661479552","streaming_url":null,"tag_image":{"url":null},"guests":[],"expiring":false},{"id":11101,"title":"第153回","latest":false,"media_typ[...]
